.wrap{
    margin-top: 45px;
}

.storeLink{
    color:black;
    text-decoration:none;
}

.storeLink:hover {
    color: grey;
    text-decoration: none;
}


#back {
    font-size: 14px;
    font-weight:bold;
}

#centr{
    text-align:center;
    text-transform:uppercase;
    font-weight:600;
}

#cartImg{
    width: 200px;
    height: 200px;
}

.subtotal{
    border-top: 1px solid grey;
    margin-bottom: 20px;
}

#total {
    margin-top: 10px;
    text-align: right;
    font-weight: 600;
}

.f{
    float:right;
}

#empty{
    font-size: 20px;
    font-weight: 500;
}



